body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #353E58 0%, #505B7A 100.49%);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.c-todo-board {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-link {
  color: #969FB8;
}

.c-link:hover {
  color: #969FB8;
  text-decoration: none;
}

.c-item-done {
  display: flex;
  align-items: center;
}

.c-item-done p {
  margin-right: 20px;
}

.c-todo-item {
  display: block;
}

.c-form {
  margin-top: 40px;
}

.c-input-text {
}
